@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Video Content Service!</h1>
    <p class="lead">Please log in or register to continue.</p>
    <hr class="my-4">
    <p>
        <a class="btn btn-primary btn-lg" asp-controller="PublicUser" asp-action="Login" role="button">Log In</a>
        <a class="btn btn-success btn-lg" asp-controller="PublicUser" asp-action="Register" role="button">Register</a>
    </p>
</div>
