@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Video Content Service!</h1>
    <p class="lead" id="welcomeMessage">Please log in or register to continue.</p>
    <hr class="my-4">
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Check if the user is logged in
            var token = localStorage.getItem('JWT');
            if (token) {
                // Redirect to video controller if the user is logged in
                // TODO: video controller
                window.location.href = '/path-to-video-controller';
            }
        });
    </script>
}
